
/*设置进度条的高度*/
.progress{
	margin-bottom: 10px;
}

/**设置page-header*/
.page-header{
	margin: 0px
}

.page-header h1{
	margin:0;
	font-size: 15px;
}

.item-thumb {
    min-height: 250px;
    display: block;
}

.item-thumb, .item-thumb-small {
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}


/* 评论的样式*/

.commentbox{
    margin: 20px auto;
}
.mytextarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
    height: 100px;
    color: #000;
    font-size: 1em;
    resize: none;
}
.comment-list{
    width:  100%;
    margin: 20px auto;
    clear: both;
    padding-top: 20px;
    background-color: #ffffff;
}
.btn-info{
    width: 60%;
}
.comment-list .comment-info{
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.comment-list .comment-info header{
    width: 10%;
    position: absolute;
}
.comment-list .comment-info header img{
    width: 100%;
    border-radius: 50%;
    padding: 5px;
}
.comment-list .comment-info .comment-right{
    padding:5px 0px 5px 11%;
}
.comment-list .comment-info .comment-right h3{
    margin: 5px 0px;
}
.comment-list .comment-info .comment-right .comment-content-header{
    height: 25px;
}
.comment-list .comment-info .comment-right .comment-content-header span,.comment-list .comment-info .comment-right .comment-content-footer span{
    padding-right: 2em;
    color: #aaa;
}
.comment-list .comment-info .comment-right .comment-content-header span,.comment-list .comment-info .comment-right .comment-content-footer span.reply-btn,.send,.reply-list-btn{
    cursor: pointer;
}
.comment-list .comment-info .comment-right .reply-list {
    border-left: 3px solid #ccc;
    padding-left: 7px;
}
.comment-list .comment-info .comment-right .reply-list .reply{
    border-bottom: 1px dashed #ccc;
}
.comment-list .comment-info .comment-right .reply-list .reply div span{
    padding-left: 10px;
}
.comment-list .comment-info .comment-right .reply-list .reply p span{
    padding-right: 2em;
    color: #aaa;
}
.comment-list .comment-info p{
	    margin-right: 35px;
}

